@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.text-title {
    font-family: 'Akronim', cursive;
    font-size: 5em;
    color: #fff;
}

.text-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    color: #fff;
}

.bg-title {
   /* background-image: linear-gradient(to bottom right, #a29bfe, #55efc4);*/
   background: url('../aulaPW/img/cabecalho.png') center center no-repeat;
   background-size: cover;
}